@inject DatabaseHelperProvider DatabaseHelpers

@model Event
@{
    ViewData["Title"] = Model.Title;
    Layout = "_Layout";

    EventState eventState = Model.GetCurrentState();
    IEnumerable<Entry> shuffledEntries = Model.Entries.Shuffle();

    EventViewModel eventViewModel = new EventViewModel(Model, ViewBag.UserAccount, DatabaseHelpers);
}

<partial name="_EventPageHeader" for="@eventViewModel" />

<h1>Edit Event Settings</h1>

@if (ViewBag.ErrorMessages != null)
{
    <div class="panel small message error">
        <ul>
            @foreach (string error in ViewBag.ErrorMessages)
            {
                <li>@error</li>
            }
        </ul>
    </div>
}

<form method="post" enctype="multipart/form-data" autocomplete="off">
    <input type="hidden" asp-for="@Model.DisplayID" />

    <table>
        <colgroup>
            <col style="width: 120px">
            <col>
        </colgroup>
        <tr>
            <th><label asp-for="@Model.Title"></label></th>
            <td><input asp-for="@Model.Title" placeholder="My Event Title!"/></td>
        </tr>
        <tr>
            <th><label asp-for="@Model.URL"></label></th>
            <td><input asp-for="@Model.URL" /></td>
        </tr>
        <tr>
            <th><label asp-for="@Model.Description"></label></th>
            <td><textarea asp-for="@Model.Description" placeholder="This is an event."></textarea></td>
        </tr>
        <tr>
            <th><label asp-for="@Model.EventType"></label></th>
            <td><select asp-for="@Model.EventType" asp-items="@Html.GetEnumSelectList<EventType>()"></select></td>
        </tr>
        <tr>
            <th>Dates:</th>
            <td>
                <div class="row-layout">
                    <div>
                        <p><label asp-for="@Model.RevealDate"></label></p>
                        <input asp-for="@Model.RevealDate" />
                    </div>
                    <div>
                        <p><label asp-for="@Model.StartDate"></label></p>
                        <input asp-for="@Model.StartDate" />
                    </div>
                    <div>
                        <p><label asp-for="@Model.SubmissionEndDate"></label></p>
                        <input asp-for="@Model.SubmissionEndDate" />
                    </div>
                    <div>
                        <p><label asp-for="@Model.VoteEndDate"></label></p>
                        <input asp-for="@Model.VoteEndDate" />
                    </div>
                </div>
                <p class="disclaimer">Note that entered dates will be interpreted as UTC dates.</p>
            </td>
        </tr>
        <tr>
            <th><label asp-for="@Model.Settings"></label></th>
            <td><partial name="_FlagsEnum" for="@Model.Settings" /></td>
        </tr>
    </table>
    <button type="submit">Save Changes</button>
</form>