@model EntryViewModel

<div class="entry" id="@Model.Entry.DisplayID"
    @Html.ConditionalAttribute(Model.CanVote, "allow-vote")
    @Html.ConditionalAttribute(Model.IsSelfPost, "self-post") >
    @if(Model.DisplayUser)
    {
        <div class="entry-user">
            <a asp-controller="users" asp-action="display" asp-route-id="@Model.Author.DisplayID">
                <partial name="_Avatar" for="@Model.Author" />
                <p class="username">@Model.Author.Username</p>
            </a>
            <p class="entry-date local-date" --unix-timestamp="@Model.Entry.SubmitDate.ToUnixSeconds()" --date-only>@Model.Entry.SubmitDate.ToString("dd/MM/yyyy")</p>
        </div>
    }
    <div class="entry-image">
        <img draggable="false" src="/@Model.Entry.GetRelativeUrl()" />
    </div>

    <div class="entry-toolbar">
        <span class="l">
            @if (Model.CanVote)
            {
                <span class="vote" onclick="toggleVote(this)" @Html.ConditionalAttribute(Model.HasVoted, "voted")>
                    <i class="heart fas fa-heart"></i>
                    <i class="broken-heart fas fa-heart-broken"></i>
                    <span>Vote</span>
                    <span>d!</span>
                </span>
            }
        </span>
        <span class="r">
            <span class="menu" title="More options for this post"
                  onclick="showEntryMenu(this, @Model.CanReport.ToString().ToLower(), @Model.CanDelete.ToString().ToLower())">
                <i class="fas fa-fw fa-ellipsis-v"></i>
            </span>
        </span>
    </div>
</div>