@using VoteMyst.Database

@inject UserProfileBuilder ProfileBuilder
@inject DatabaseHelperProvider DatabaseHelpers

@model Entry
@{
    bool isGuest = !User.Identity.IsAuthenticated;
    UserAccount user = ProfileBuilder.FromPrincipal(User);
    UserAccount author = Model.Author;

    Event e = Model.Event;
    EventPermissions eventPermissions = DatabaseHelpers.Events.GetUserPermissionsForEvent(user, e);
    bool votingOpen = e.GetCurrentState() == EventState.Voting;
    bool displayUser = e.GetCurrentState() == EventState.Closed;
    bool isSelfPost = user.ID == author.ID;
    bool canVote = votingOpen && !isSelfPost && !isGuest;
    bool hasVoted = DatabaseHelpers.Votes.GetVoteByUserOnEntry(user, Model) != null;
    bool canReport = !isSelfPost && !isGuest && !Model.Reports.Any(r => r.ReportAuthor.ID == user.ID);
    bool canDelete = isSelfPost || user.Permissions.HasFlag(GlobalPermissions.ManageAllEvents) || eventPermissions.HasFlag(EventPermissions.ManageEntries);
}

<div class="post" id=@Model.DisplayID
    @(canVote ? "allow-vote" : "")
    @(isSelfPost ? "self-post" : "") >
    @if(displayUser)
    {
        <div class="post-user">
            <a asp-controller="users" asp-action="display" asp-route-id="@author.DisplayID">
                <partial name="_Avatar" for="@author" />
                <p class="username">@author.Username</p>
            </a>
            <p class="post-date local-date" --unix-timestamp="@Model.SubmitDate.ToUnixSeconds()" --date-only>@Model.SubmitDate.ToString("dd/MM/yyyy")</p>
        </div>
    }
    <div class="post-image">
        <img draggable="false" src="/@Model.GetRelativeUrl()" />
    </div>

    <div class="post-toolbar">
        <span class="l">
            @if (canVote)
            {
                <span class="vote" onclick="toggleVote(this)" @(hasVoted ? "voted" : "")>
                    <i class="heart fas fa-heart"></i>
                    <i class="broken-heart fas fa-heart-broken"></i>
                    <span>Vote</span>
                    <span>d!</span>
                </span>
            }
        </span>
        <span class="r">
            <span class="menu" title="More options for this post" onclick="showEntryMenu(this, @canReport.ToString().ToLower(), @canDelete.ToString().ToLower())">
                <i class="fas fa-fw fa-ellipsis-v"></i>
            </span>
        </span>
    </div>
</div>