@using VoteMyst.Database
@using VoteMyst.Controllers

@inject UserProfileBuilder ProfileBuilder
@inject DatabaseHelperProvider DatabaseHelpers

@model EventsController.Leaderboard.Place
@{
    bool isGuest = !User.Identity.IsAuthenticated;
    UserAccount user = ProfileBuilder.FromPrincipal(User);
    UserAccount author = Model.Author;

    Event e = Model.Entry.Event;
    EventPermissions eventPermissions = DatabaseHelpers.Events.GetUserPermissionsForEvent(user, e);

    Entry entry = Model.Entry;
    bool isSelfPost = user.ID == author.ID;
    bool canReport = !isSelfPost && !isGuest && !Model.Entry.Reports.Any(r => r.ReportAuthor.ID == user.ID);
    bool canDelete = isSelfPost || user.Permissions.HasFlag(GlobalPermissions.ManageAllEvents) || eventPermissions.HasFlag(EventPermissions.ManageEntries);
}

<div class="entry" id=@Model.Entry.DisplayID
    @(isSelfPost ? "self-post" : "") >
    <div class="entry-user">
        <div class="place" place="@Model.Number">
            <p>
                @if (Model.Number <= 3)
                {
                    <i class="fas fa-trophy fa-lg"></i>
                }
                else 
                {
                    <span>@(Model.Number + ".")</span>
                }
                <i class="votecount">(@Model.Votes votes)</i>
            </p>
        </div>
        <a asp-controller="users" asp-action="display" asp-route-id="@author.DisplayID">
            <partial name="_Avatar" for="@author" />
            <p class="username">@author.Username</p>
        </a>
        <p class="entry-date local-date" --unix-timestamp="@entry.SubmitDate.ToUnixSeconds()" --date-only>@entry.SubmitDate.ToString("dd/MM/yyyy")</p>
    </div>
    <div class="entry-image">
        <img src="/@Model.Entry.GetRelativeUrl()" />
    </div>

    <div class="entry-toolbar">
        <span class="l">
        </span>
        <span class="r">
            <span class="menu" title="More options for this post" onclick="showEntryMenu(this, @canReport.ToString().ToLower(), @canDelete.ToString().ToLower())">
                <i class="fas fa-fw fa-ellipsis-v"></i>
            </span>
        </span>
    </div>
</div>