@using VoteMyst.Database
@using VoteMyst.Database.Models

@inject UserProfileBuilder ProfileBuilder
@inject DatabaseHelperProvider DatabaseHelpers

@model Entry
@{
    UserData user = ProfileBuilder.FromPrincipal(User);
    UserData author = DatabaseHelpers.Users.GetUser(Model.UserId);

    Event e = DatabaseHelpers.Events.GetEvent(Model.EventId);
    bool votingOpen = DateTime.UtcNow >= e.EndDate && DateTime.UtcNow < e.VoteEndDate;
    bool displayUser = DateTime.UtcNow >= e.VoteEndDate;
    bool isSelfPost = user.UserId == author.UserId;
    bool canVote = votingOpen && !isSelfPost;
    bool hasVoted = DatabaseHelpers.Votes.GetVoteByUserOnEntry(user, Model) != null;
}

<div class="post"
    @(canVote ? $"entry-id={Model.EntryId} allow-vote onclick=castVote(this)" : "")
    @(isSelfPost ? "self-post" : "") >
    @if(displayUser)
    {
        <div class="post-user">
            <a asp-controller="users" asp-action="display" asp-route-id="@author.DisplayId">
                <partial name="_Avatar" for="@author" />
                <p class="username">@author.Username</p>
            </a>
            <p class="post-date local-date" --unix-timestamp="@Model.SubmitDate.ToUnixSeconds()" --date-only>@Model.SubmitDate.ToString("dd/MM/yyyy")</p>
        </div>
    }
    <div class="post-image">
        <img src="/@Model.Content" />
    </div>

    <div class="post-toolbar">
        <span class="l">
            @if (canVote)
            {
                <span class="vote" onclick="toggleVote(this)" @(hasVoted ? "voted" : "")>
                    <i class="heart fas fa-heart"></i>
                    <i class="broken-heart fas fa-heart-broken"></i>
                    <span>Vote</span>
                    <span>d!</span>
                </span>
            }
        </span>
        <span class="r">
            <span class="report" title="Report this post"><i class="fas fa-flag"></i></span>
        </span>
    </div>
</div>