@using VoteMyst.Database
@using VoteMyst.Controllers

@inject UserProfileBuilder ProfileBuilder
@inject DatabaseHelperProvider DatabaseHelpers

@model EventsController.Leaderboard.Place
@{
    UserAccount user = ProfileBuilder.FromPrincipal(User);
    UserAccount author = Model.Author;

    Entry entry = Model.Entry;
    bool isSelfPost = user.ID == author.ID;
}

<div class="post" id=@Model.Entry.DisplayID
    @(isSelfPost ? "self-post" : "") >
    <div class="post-user">
        <div class="place" place="@Model.Number">
            <p>
                @if (Model.Number <= 3)
                {
                    <i class="fas fa-trophy fa-lg"></i>
                }
                else 
                {
                    <span>@(Model.Number + ".")</span>
                }
                <i class="votecount">(@Model.Votes votes)</i>
            </p>
        </div>
        <a asp-controller="users" asp-action="display" asp-route-id="@author.DisplayID">
            <partial name="_Avatar" for="@author" />
            <p class="username">@author.Username</p>
        </a>
        <p class="post-date local-date" --unix-timestamp="@entry.SubmitDate.ToUnixSeconds()" --date-only>@entry.SubmitDate.ToString("dd/MM/yyyy")</p>
    </div>
    <div class="post-image">
        <img src="/@Model.Entry.GetRelativeUrl()" />
    </div>

    <div class="post-toolbar">
        <span class="l">
        </span>
        <span class="r">
            <span class="report" title="Report this post" onclick="reportPost(this)">
                <i class="fas fa-flag"></i>
            </span>
        </span>
    </div>
</div>