@using VoteMyst.Database

@inject UserProfileBuilder ProfileBuilder
@inject DatabaseHelperProvider DatabaseHelpers

@{
    ViewData["Title"] = "Reports";
    Layout = "_Layout";

    UserAccount user = ProfileBuilder.FromPrincipal(User);

    var assignedReports = DatabaseHelpers.Events.GetHostedEvents(user).SelectMany(e => e.Reports).Where(e => e.Status == ReportStatus.Pending);
    var ownReports = user.AuthoredReports;
}

<h1>Assigned reports</h1>

<div class="reports">
    <table class="report-overview-table">
        <tr>
            <th>Link</th>
            <th>Reporter</th>
            <th>Reason</th>
            <th>Tools</th>
        </tr>

        @foreach (Report report in assignedReports)
        {
            <tr class="report" report-id="@report.ID">
                <td class="link"><a href="@report.Entry.GetUrl()">@report.Entry.Event.Title</a></td>
                <td class="author"><partial name="_UserInfo" for="@report.User"></td>
                <td class="reason">@report.Reason</td>
                <td class="tools">
                    <a href="#" onclick="deleteReportedPost()">Delete Post</a> |
                    <a href="#" onclick="rejectReport()">Reject</a>
                </td>
            </tr>
        }
    </table>
</div>

<h1>Your authored reports</h1>

<div class="reports">
    <table class="report-overview-table">
        <tr>
            <th>Link</th>
            <th>Reason</th>
            <th>Status</th>
        </tr>

        @foreach (Report report in ownReports)
        {
            <tr class="report" report-id="@report.ID">
                <td class="link"><a href="@report.Entry.GetUrl()">@report.Entry.Event.Title</a></td>
                <td class="reason">@report.Reason</td>
                <td class="status @report.Status.ToString().ToLower()">@report.Status</td>
            </tr>
        }
    </table>
</div>

@section Scripts {
    <script src="~/js/report.js" asp-append-version="true"></script>
}