<div class="post"
    @(ViewBag.CanVote ? $"entry-id={ViewBag.Entry.EntryId} allow-vote onclick=castVote(this)" : "")
    @(ViewBag.IsSelfPost ? "self-post" : "")
    @(ViewBag.HasVoted ? "voted" : "") >
    @if(ViewBag.DisplayUser)
    {
        <div class="post-user">
            <a href="/users/@ViewBag.Author.DisplayId">
                @await Component.InvokeAsync("Avatar", @ViewBag.Author)
                <p class="username">@ViewBag.Author.Username</p>
            </a>
            <p class="post-date">@ViewBag.Entry.SubmitDate.ToString("dd/MM/yyyy")</p>
        </div>
    }
    <div class="post-image">
        <img src="@ViewBag.Entry.Content" />
    </div>
    
    <img class="post-absolute-element post-vote" src="/img/heart.png"/>
    <img class="post-absolute-element post-has-voted" src="/img/heart.png" @(ViewBag.CanVote ? "onclick=removeVote(this)" : "") />
</div>