@using VoteMyst
@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";

    ulong endUnix = ((DateTime)ViewBag.SubmissionEnd).ToUnixSeconds();
}

<div class="home-container current-event">
    <a href="/events/@ViewBag.Id"><h1 class="current-event-name">@ViewBag.Name</h1></a>
    <h3 class="current-event-description">@ViewBag.Description</h3>

    <p class="current-event-timer">
        Submissions will be closed in
        <span class="timer" --unix-timestamp="@endUnix"></span>.
    </p>

    <div class="current-event-metadata">
        <div>
            <h3>Total Entries</h3>
            <p>@ViewBag.TotalEntries</p>
        </div>
        <div>
            <h3>Total Votes Cast</h3>
            <p>@ViewBag.TotalVotes</p>
        </div>
    </div>
</div>