@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}

<div class="home-container current-event">
    <h1 class="current-event-name">@ViewBag.Name</h1>
    <h3 class="current-event-description">@ViewBag.Description</h3>

    <p class="current-event-timer">
        Submissions will be closed in
        <span class="timer" --timer-end-unix="@(new DateTimeOffset(ViewBag.SubmissionEnd).ToUnixTimeSeconds())">0:00:00:00</span>.
    </p>

    <div class="current-event-metadata">
        <div>
            <h3>Total Entries</h3>
            <p>@ViewBag.TotalEntries</p>
        </div>
        <div>
            <h3>Total Votes Cast</h3>
            <p>@ViewBag.TotalVotes</p>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/timer.js"></script>
}