@using VoteMyst.Database

@inject AvatarHelper AvatarHelper
@inject UserProfileBuilder ProfileBuilder
@inject DatabaseHelperProvider DatabaseHelpers

@model UserAccount
@{
    ViewData["Title"] = "User";

    UserAccount selfUser = ProfileBuilder.FromPrincipal(User);

    Entry[] entries = Model.Entries.ToArray();
    int totalVotes = entries.Sum(e => e.Votes.Count);
    int totalSubmissions = entries.Length;

    bool allowSelfEditing = (selfUser.ID == Model.ID && selfUser.Permissions.HasFlag(GlobalPermissions.ManageSelf)) || selfUser.Permissions.HasFlag(GlobalPermissions.ManageUsers);
    bool allowLogout = selfUser.ID == Model.ID;
}

@section ContentMeta
{
    <meta property="og:title" content="@Model.Username" />
    <meta property="og:description" content="A VoteMyst user." />
}

<div class="panel user-profile">
    <div class="user-profile-column">
        <partial name="_Avatar" for="@Model" />
        <p class="username">@Model.Username</p>
        @if(@Model.AccountBadge != AccountBadge.None) 
        {
            <p class="user-badge @Model.AccountBadge.ToString().ToLower()">
                @switch (Model.AccountBadge)
                {
                    case AccountBadge.SiteModerator: @Html.Raw("Moderator"); break;
                    case AccountBadge.SiteAdministrator: @Html.Raw("Admin"); break;
                }
            </p>
        }
        <p class="own-display-id">Account ID:<br>@Model.DisplayID</p>
    </div>
    <table class="user-profile-table">
        <tr>
            <th>Join Date:</th>
            <td>@Model.JoinDate.ToString("dd/MM/yyyy")</td>
        </tr>
        <tr>
            <th>Total votes received:</th>
            <td>@totalVotes</td>
        </tr>
        <tr>
            <th>Total submissions:</th>
            <td>@totalSubmissions</td>
        </tr>
    </table>

    @if (allowSelfEditing)
    {
        <a asp-controller="users" asp-action="edit" asp-route-id="@Model.DisplayID" class="profile-button edit-button">
            <i class="fas fa-cog"></i>Edit
        </a>
    }

    @if (allowLogout)
    {
        <a href="/logout" class="profile-button logout-button">
            <i class="fas fa-sign-out-alt"></i>Log Out
        </a>
    }
</div>