@using VoteMyst.Database

@inject AvatarHelper AvatarHelper
@inject UserProfileBuilder ProfileBuilder
@inject DatabaseHelperProvider DatabaseHelpers

@model UserAccount
@{
    ViewData["Title"] = "User";

    UserAccount selfUser = ProfileBuilder.FromPrincipal(User);

    Entry[] entries = Model.Entries.ToArray();
    int totalVotes = entries.Sum(e => e.Votes.Count);
    int totalSubmissions = entries.Length;

    bool allowSelfEditing = (selfUser.ID == Model.ID && selfUser.Permissions.HasFlag(GlobalPermissions.ManageSelf)) || selfUser.Permissions.HasFlag(GlobalPermissions.ManageUsers);
    bool allowLogout = selfUser.ID == Model.ID;
}

@section ContentMeta
{
    <meta property="og:title" content="@Model.Username" />
    <meta property="og:description" content="A VoteMyst user." />
}

<div class="user-profile">
    <div class="user-info-column">
        <partial name="_Avatar" for="@Model" />
        <p class="username">@Model.Username</p>
        @if(@Model.AccountBadge != AccountBadge.None) 
        {
            <p class="user-badge @Model.AccountBadge.ToString().ToLower()">
                @Html.DisplayFor(e => e.AccountBadge)
            </p>
        }
        <p class="own-display-id">Account ID:<br>@Model.DisplayID</p>
    </div>

    <div class="user-stats-column">
        <h1>User Stats</h1>
        <table class="user-info-table">
            <tr>
                <th>Member since:</th>
                <td>@Model.JoinDate.ToString("dd/MM/yyyy")</td>
            </tr>
            <tr>
                <th>Events joined:</th>
                <td>@totalVotes</td>
            </tr>
            <tr>
                <th>Votes earned:</th>
                <td>@totalVotes</td>
            </tr>
        </table>
        <h1>Event Submissions (@(Model.Entries.Count))</h1>
        <div class="submissions">
            @foreach (Entry entry in Model.Entries)
            {
                <partial name="_EntryPreview" for="@entry"/>
            }
        </div>
    </div>

    <div class="user-actions">
        @if (allowSelfEditing)
        {
            <a class="edit-action" asp-controller="users" asp-action="edit" asp-route-id="@Model.DisplayID">
                Edit<i class="fas fa-cog"></i>
            </a>
        }
        @if (allowLogout)
        {
            <a class="logout-action" href="/logout">
                Log Out<i class="fas fa-sign-out-alt"></i>
            </a>
        }
    </div>
</div>